@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    font-family: "Roboto", sans-serif;;
}
#dashboard .container{
    display: flex;
}
#dashboard aside.sidebar{
    flex-basis: 20%;
    background-color: #673AB7;
    height: 100vh;
    padding: 10px;
    color: #fff;
    border-radius: 0 60px 0 0;
}
#dashboard aside.content{
    flex-basis: 80%;
    background-color: #fff;
    height: 100vh;
    padding: 10px;
    /* color: #673AB7; */
}
.menu ul{
    list-style: none;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
}
.menu ul li{
    padding: 0 10px;
}
.menu ul li a{
    text-transform: capitalize;
    text-decoration: none;
    padding: 10px 8px;
    width: 100%;
    display: block;
    color: #fff;
    background: #290c5cd9;
    margin: 5px;
    cursor: pointer;
    border-radius: 7px;
    
}
.menu ul li a:hover{
    background-color: #00000095;
}
.logo{
    padding: 15px 0;
    font-size: 20px;
}
.users,.products, .players{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.dashboard-content{
    height: 50px;
    width: 100%;
}
.dashboard-content ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #ff9800;
    padding: 10px 0;
    list-style: none;
    margin: 10px 0;
}
.dashboard-content ul li a {
    background: #673ab7;
    color: #fff;
    padding: 10px 20px;
    color: #fff;
    margin: 10px 0;
    text-transform: uppercase;
    text-decoration: none;
    margin: 3px 10px 10px 0;
}